xgboost-cpu
matplotlib
numpy
scipy
scikit-learn
seaborn
biopython
treelib
tqdm
pyaml
tabulate
mlflow
myst-parser
sphinx
sphinx_rtd_theme
nbsphinx
myst-parser        # pour .md comme README.md
pandoc

